@import '../../../assets/utilities/_variable.scss';

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid $input-border;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: $submit-btn;
    color:$white;
    padding: 14px 20px;
    margin: 8px 0px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color:$submit-btn-hover;
  }

 .addIssue{
  margin: 8px 0;
 }

 .main-part-1{
  display:flex;
  justify-content:space-evenly;
  margin:20px;
  height:100vh;
}  

.todo,.progress, .done{
  background-color: $issue-status-bg;
}

.title{ 
 padding-top:15px;
 padding-left:30px;
}

.heading{
  display:flex;
  justify-content:space-between;
  padding:3px;
}
  
  