// Primary Colours
$white:rgba(255,255,255);
$black:rgba(0,0,0);

// Secondary Colours
$sidebar-bg:#1C2137;
$sidebar-white-icons: rgba(255, 255, 255, 0.7);
$sidebar-icon-hover:#4F60FE;
$brand-text-colour:#292E33;
$issue-status-bg:#EBEDF4;
$notif-icon: #AAACAE;
$borderInner-icon:#4F60FE;
$receipt-icon:#C6CEEB;
$hamburger-icon:#4F60FE;
$card-shadow:#888888;
$bg:#F4F4F5;
$submit-btn-hover:#45a049;
$submit-btn:#4CAF50;
$input-border: #ccc;