@import '../../../assets/utilities/_variable.scss';

/* Primary Styles */
*, *::before, *::after {
    box-sizing: border-box;
 }
 
 body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
 }
 
 em {
    font-style: normal;
 }
 
 a {
    text-decoration: none;
    color: inherit;
 } 
 
 /* Layout */
 .s-layout {
    display: flex;
    width: 100%;
    min-height: 100vh;
 }
 
 .s-layout__content {
    display: flex;
    flex-direction:column;
    flex: 1;
 }
 
 /* Sidebar */
 .s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 10%;
    height: 3.6em;
    background-color:$white;
 }
 
 .s-sidebar__trigger > em {
    font-size:17px;
 }
 
 .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background-color:$sidebar-bg;
    color:$sidebar-white-icons;
 }
 
 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus + .s-sidebar__nav,
 .s-sidebar__trigger:hover + .s-sidebar__nav {
    left: 0;
 }
 
 .s-sidebar__nav ul {
    position: absolute;
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
 }
 
 .s-sidebar__nav ul li {
    width: 100%;
 }
 
 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
 }
 
 .s-sidebar__nav-link em, .s-sidebar__trigger em {
    position: absolute;
    top: 50%;
    left: 4em;
    transform: translateY(-50%);
 }
 
 .s-sidebar__nav-link:hover {
    background:$sidebar-icon-hover;
 }
 
 .s-sidebar__nav-link > i {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 4em;
    height: 4em;
 }
 
 .s-sidebar__nav-link > mat-icon::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }
 
 /* Mobile First */
 @media (min-width: 42em) {
    .s-layout__content {
       margin-left: 4em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       width: 4em;
    }
    
    .s-sidebar__nav {
       width: 4em;
       left: 0;
    }
    
    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover + .s-sidebar__nav,
    .s-sidebar__trigger:focus + .s-sidebar__nav {
       width: 15em;
    }
 }
 
 mat-icon{
     color: $white;
     padding:0.8rem;
 }

 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 15em;
    }
    
    /* Sidebar */
    .s-sidebar__trigger {
       display: none
    }
    
    .s-sidebar__nav {
       width: 15em;
    }
    
    .s-sidebar__nav ul {
       top: 1.3em;
    }
 }
 
 /* Horizontal NavBar*/

 .navbar {
    background:$white;
    display: flex;
     justify-content: space-between;
    .brand {
      width: 7em;
      text-align: center;
      padding: 1em;
      color:$brand-text-colour;
    }
  }
  
.left,.right{
    display: flex;
 }

.right{
      width:3em;
      justify-content: space-evenly;
      margin-right:70px;
}
  
  
.main-part-1{
    display:flex;
    justify-content:space-evenly;
    margin:20px;
    height:100vh;
}  

.todo,.progress, .done{
    background-color: $issue-status-bg;
}

.title{ 
   padding-top:15px;
   padding-left:30px;
}

.heading{
    display:flex;
    justify-content:space-between;
    padding:3px;
}
 
.filter{
    display:flex;
    justify-content:space-between;
}

input[type=text] {
    width: auto;
    padding: 10px 15px;
    display: inline-block;
    box-sizing: border-box;
    text-decoration: none;
    border:$white;
  }

  .issue{
      padding-top:60px;
  }

  .sticky{
      position:fixed;
      z-index:1;
      width:90%;
  }
 
  .example-additional-selection {
   opacity: 0.75;
   font-size: 0.75em;
 }

 .avatar {
   vertical-align: middle;
   width: 50px;
   height: 50px;
   border-radius: 50%;
 }

 .notif mat-icon{
    margin-right:15px;
    color:$notif-icon;
 }

 .border-inner mat-icon{
  color:$borderInner-icon;
 }

 .receipt mat-icon{
  color:$receipt-icon;
  }

  .s-sidebar__trigger mat-icon{
  color:$hamburger-icon;
  }

  .toggle{
   display:flex;
   padding-top:1rem;
   padding-left:1rem;
   margin-right:1rem;
   // border:1px solid black;
   justify-content:space-between;
  }

  .count{
   //   border:1px solid red;
     margin-right:1rem;
     font-size: 2rem;
     padding-top:0.5rem;
  }

  .en{
   width:6rem;
   height:2rem;
  }
