<div class="navigation font">
  <div class="s-layout">
      <!-- Sidebar -->
      <div class="s-layout__sidebar">
        <a  class="s-sidebar__trigger" href="#0">
          <mat-icon > menu </mat-icon>
        </a>
      
        <nav class="s-sidebar__nav">
            <ul>
              <li>
                  <a class="s-sidebar__nav-link" href="#0">
                    <mat-icon>signal_cellular_alt</mat-icon><em>{{ 'dashboard' | translate }}</em>
                  </a>
              </li>
              <li>
                  <a class="s-sidebar__nav-link" href="#0">
                    <mat-icon>library_books</mat-icon><em>{{ 'issues' | translate }}</em>
                  </a>
              </li>
              <li>
                  <a class="s-sidebar__nav-link" href="#0">
                    <mat-icon>create</mat-icon><em>{{ 'create' | translate }}</em>
                  </a>
              </li>
            </ul>
        </nav>
      </div>
      
      <!-- Content -->
      <main class="s-layout__content" >
          <div class="navbar row sticky" >
              <!-- <mat-icon style="color: #5763FE;">crop_rotate</mat-icon> -->
              <div class="left">
                <a href="#"  class="brand"><b>{{ 'tracker' | translate }}</b></a>
                <input #box (keyup.enter)="onEnter(box.value)" type="text" placeholder="{{ 'search' | translate }}">
              </div>
              <div class="right" >
                <a class="notif" href="#"><mat-icon >notification_important</mat-icon></a>
                <a href="#"><img src="assets/dog.jpeg"  class="avatar"></a>
              </div>
          </div>
  
          
  
        <div class="row issue heading" >
          <div class="heading part1">
            <a href="#"><h1 class="title">{{ 'issues' | translate }}</h1></a>
          </div>
          <div class="heading part2">
            <div class="toggle">
              <!-- <mat-slide-toggle></mat-slide-toggle> -->
              <div class="count">{{ this.count$ | async }}</div>
              <button mat-raised-button  class="en mat-btn" (click)="changeLanguage()">en | de</button>
            </div>
              <div>
                <app-dropdown></app-dropdown>
              </div>
              <div>
                  <a class="border-inner" href="#"><mat-icon > border_inner</mat-icon></a>
                  <a class="receipt" href="#"><mat-icon >receipt</mat-icon></a>
              </div>
          </div>
          </div>
  
          

        <div class="row main-part-1">
          <div class="col-3 todo" >
              <h1 class="title">{{ 'todo' | translate }} {{ this.IssueByStatus["High Priority"].length }}</h1>
              <div *ngFor="let issue of this.HighPriority">
              <app-card [issue]="issue"></app-card>
            </div>
          </div>
          <div class="col-3 progress">
              <h1 class="title">{{ 'in-progress' | translate }} {{ this.IssueByStatus["In-Progress"].length }}</h1>
              <div *ngFor="let issue of this.InProgress">
                <app-card [issue]="issue"></app-card>
              </div>
          </div>
          <div class="col-3 done">
              <h1 class="title">{{ 'done' | translate }} {{ this.IssueByStatus["Done"].length }}</h1>
              <div *ngFor="let issue of this.Done">
                <app-card [issue]="issue"></app-card>
              </div>
          </div>
        </div>
      </main>
  </div>
</div>

