<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
      <a  class="s-sidebar__trigger" href="#0">
        <mat-icon > menu </mat-icon>
        <!-- <em style="color: white;">Menu</em> -->
    </a>
    
      <nav class="s-sidebar__nav">
         <ul>
            <li>
               <a class="s-sidebar__nav-link" href="#0">
                <mat-icon>signal_cellular_alt</mat-icon><em>Dashboard</em>
               </a>
            </li>
            <li>
               <a class="s-sidebar__nav-link" href="#0">
                <mat-icon>library_books</mat-icon><em>Issues</em>
               </a>
            </li>
            <li>
               <a class="s-sidebar__nav-link" href="#0">
                <mat-icon>create</mat-icon><em>Create</em>
               </a>
            </li>
         </ul>
      </nav>
    </div>
    
    <!-- Content -->
    <main class="s-layout__content" >
        <div class="navbar row sticky" >
            <!-- <mat-icon style="color: #5763FE;">crop_rotate</mat-icon> -->
            <div class="left">
              <a href="#"  class="brand"><b>tracker</b></a>
              <input type="text" placeholder="search...">
            </div>
            <div class="right" >
              <a class="notif" href="#"><mat-icon >notification_important</mat-icon></a>
              <a href="#"><img src="assets/dog.jpeg"  class="avatar"></a>
            </div>
        </div>

        

      <div class="row issue heading" >
        <div class="heading part1">
          <a href="#"><h1>Issues</h1></a>
        </div>
        <div class="heading part2">
            <div>

              <app-dropdown></app-dropdown>

                <!-- <mat-icon style="color: black;">keyboard_arrow_down</mat-icon> -->
            </div>
            <div>
                <a class="border-inner" href="#"><mat-icon > border_inner</mat-icon></a>
                <a class="receipt" href="#"><mat-icon >receipt</mat-icon></a>
            </div>
        </div>
       </div>


      <div class="row main-part-1">
        <div class="col-4 todo" >
            <h1 >To Do {{todo}}</h1>
            <div *ngFor="let i of [1,2,3,4,5]">
            <app-card [status]="Todo"></app-card>
          </div>
        </div>
        <div class="col-3 progress">
            <h1 >In Progress {{progress}}</h1>
            <div *ngFor="let i of [1,2]">
              <app-card [status]="Progress"></app-card>
            </div>
        </div>
        <div class="col-4 done">
            <h1 >Done {{done}}</h1>
            <div *ngFor="let i of [1,2,3,4]">
              <app-card [status]="Done"></app-card>
            </div>
        </div>
      </div>


    </main>
</div>
