<mat-card class="example-card font">
                
    <div class="row card">
        <div><b>{{products[0].id}}</b></div>
        <div>{{products[0].date}}</div>
    </div>
    <div class="row" ><h1><b>{{products[0].title}}</b></h1></div>
    
    <mat-card-content>
      <p>
        {{products[0].description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="row card">
            <div>Assignee</div>
            <div>Status</div>
        </div>
        <div class="row card">
          <div class="picture">
            <a><img src="assets/dog.jpeg"  class="avatar"></a>
            <div>
            <div class= "name" ><b>{{products[0].name}}</b></div>
            <div class="designation">{{products[0].designation}}</div>
          </div>
          </div>

          <div *ngIf="status===HighPriority">
            <button mat-raised-button color="warn">{{status}}</button>
          </div>
          <div *ngIf="status===Progress">
            <button mat-raised-button color="primary">{{status}}</button>
          </div>
          <div *ngIf="status===Done">
            <button mat-raised-button color="accent">{{status}}</button>
          </div>
          </div>
    </mat-card-actions>
  </mat-card>