<mat-card class="example-card font">
                
    <div class="row card">
        <div><b>{{ issue.id | translate}}</b></div>
        <div>{{ 'date' | translate}}</div>
    </div>
    <div class="row" ><h1><b>{{ 'title' | translate }}</b></h1></div>
    
    <mat-card-content>
      <p>
        {{ 'description' | translate}}
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="row card">
            <div>{{ 'assignee' | translate }}</div>
            <div>{{ 'status' | translate }}</div>
        </div>
        <div class="row card">
          <div class="picture">
            <a><img src="assets/dog.jpeg"  class="avatar"></a>
            <div>
            <div class= "name" ><b>{{ issue.name | translate}}</b></div>
            <div class="designation">{{ 'designation' | translate}}</div>
          </div>
          </div>

          <div *ngIf="issue.status===HighPriority">
            <button class="mat-btn" mat-raised-button color="warn">{{ 'high-priority' | translate}}</button>
          </div>
          <div *ngIf="issue.status===Progress">
            <button class="mat-btn" mat-raised-button color="primary">{{ 'in-progress' | translate}}</button>
          </div>
          <div *ngIf="issue.status===Done">
            <button class="mat-btn" mat-raised-button color="accent">{{ 'done' | translate}}</button>
          </div>
          </div>
    </mat-card-actions>
  </mat-card>