<mat-card class="example-card">
                
    <div class="row card">
        <div>ID: PCG067834</div>
        <div>January 17,2016</div>
    </div>
    <div class="row" ><h1><b>Lorem ipsum dolor</b></h1></div>
    
    <mat-card-content>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut turpis sapien, tincidunt sed leo at, pretium fermentum
      </p>
    </mat-card-content>
    <mat-card-actions>
        <div class="row card">
            <div>Assignee</div>
            <div>Status</div>
        </div>
        <div class="row card">
            <div>Sijo M Peter</div>
            <button mat-raised-button color="warn">High Priority</button>
        </div>
    </mat-card-actions>
  </mat-card>